.one{
    border: 0.4px solid white;
    margin: 0;
    padding: 0;
}
.short-text { display: none; }

/* // When resolution <= 1200px, hide full text and show short text */
@media (max-width: 500px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(151, 120, 120, 0.7)), url(/public/image/close-up-patient-with-tubes-her-arm-squeezing-ball-her-hand-while-donating-blood_249974-4241.webp);
        /* background-color:  linear-gradient(rgb); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;

    padding: 16%;
    padding-top: 200px;
}

.homeBtn{
    margin: 0 auto;
    /* width: 20%; */
}

.homeBtn:hover, .homeBtn a:hover{
    background-color: red !important;
    color: white !important;
}
.content{
    padding: 0 4%;
    margin: auto;
}
.card{
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    border-radius: 0;
    border: 0;
    width: 90%;
    margin-bottom: 1.5em;
    margin: 5% 8%;
}
.card:hover, Link:hover {
    transform: scale(1.05);
  }

  #feedback-form-wrapper #floating-icon > button {
    position: fixed;
    right: 0;
    top: 50%;
    transform: rotate(-90deg) translate(50%, -50%);
    transform-origin: right;
  }
  
  #feedback-form-wrapper .rating-input-wrapper input[type="radio"] {
    display: none;
  }
  #feedback-form-wrapper .rating-input-wrapper input[type="radio"] ~ span {
    cursor: pointer;
  }
  #feedback-form-wrapper .rating-input-wrapper input[type="radio"]:checked ~ span {
    background-color: #f86060;
    color: #fff;
  }
  #feedback-form-wrapper .rating-labels > label{
    font-size: 14px;
      color: #777;
  }
  .aboutImg{
    background: linear-gradient(rgba(0,0,0,.7), rgba(22, 21, 21, 0.7)), url(/public/image/homecomp.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #fff;
height: 250px;
margin: 0;
padding-top: 100px;
}
.table{
    margin: 0.1% 4% !important;
    /* background: linear-gradient(rgba(247, 36, 36, 0.599), rgba(162, 23, 23, 0.7)); */
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }


.donorbody{
    background-color:  rgb(255, 230, 208);;
}
.drive{
    overflow-x: hidden;
}

.about{
  
  background: linear-gradient(rgba(0,0,0,.7), rgba(0, 0, 0, 0.3)), url(/public/image/homeabout.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6%;
}

.homedrive{
  background: linear-gradient(rgba(0,0,0,.7), rgb(0,0,0,0.1)),url(/public/image/homedrive.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6%;
}

.elig{
  background: linear-gradient(rgba(0,0,0,.7), rgb(0,0,0,0.1)),url(/public/image/elig.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 6%;
}

.social-menu i{
  color: white;
  transition: transform 0.2s ease !important;
}

.social-menu i:hover{
  transform: scale(1.05) !important;
}

.social-menu .bi-instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
/* Also define standard property for compatibility */
background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 200px;
  
}
.social-menu .bi-twitter:hover{
  color: #00acee;
}
.social-menu .bi-facebook:hover{
  color: #3b5998 ;
}
.social-menu .bi-linkedin:hover{
  color: #0077b5;
}
/* scroll bar */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #ff475a #e4e2e2;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #e4e2e2;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff475a;
    border-radius: 7px;
    border: 3px solid #d2cbcd;
  }

  *{
    scroll-behavior: smooth;
  }